.caption {
    height: 180px;
}

.navbar, navbar-inverse, navbar-fixed-top{
    background-color: white;
    border-color: white;
}

/* Logo in navbar */
.navbar-brand img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75px;
    position: relative;
    bottom: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #5B8273;
}


/* Top welcome nav */

.display_icon{
    color: #5B8273;
}


/*slider images */

.slide-image{
    max-width: 50%;
    height: auto;
}


/* Category side menu */

.lead{
    color: #5B8273;
}

a.list-group-item{
    color: #5B8273;
}

.container{
    color: #5B8273;
}


/* About Page */

.about_image{
    width: 450px;
    margin: 20px;
}

/* Contact Page */

#return-link{
    color: #8b5c4b;
}

.contact-info{
    margin-top: 5%;
}

/* Account details page */

#user_details{
    font-size: 2em;
}

#order_history{
    font-size: 2em;
}
